<h1>Log In</h1>

<%= form_tag login_path do %>
  <div class="form-group">
    <%= text_field_tag :username, nil, {class: "form-control form-control-lg", placeholder: "Username"} %>
  </div>
  <div class="form-group">
    <%= text_field_tag :password, nil, {class: "form-control form-control-lg", placeholder: "Password"} %>
  </div>
  <p><%= submit_tag "Login", {class: "btn btn-primary"} %></p>
<% end %>
