
<div class="mt-5">
  <h1>Your Dashboard</h1>
  <hr>
  <div class="row">
    <div class="col-md">
      <div class="card">
        <div class="card-body">
          <h2>Upcoming Events</h2>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <div class="card-body">
          <h2>Another Column</h2>
        </div>
      </div>
    </div>
    <div class="col-md">
      <div class="card">
        <div class="card-body">
          <h2>Top Contacts</h2>
        </div>
      </div>
    </div>
  </div>
</div>
