/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";
@import 'select2';

html, body {
  background-color: #efefef;
}

@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}
@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
    max-width: 14.285714285714285714285714285714% !important;
    flex:none !important;
  }
}
/* 14% = 100% (full-width row) divided by 7 */

.t {
  background: #ccc;
}

.avail .card-body { background: #A8C16D; color: #fff; }
.avail a:hover { text-decoration: none; }
.avail a:hover .card-body { background: #94aa5f; }

.unavail .card-body { background: #eee; color: #aaa; }
.unavail a:hover { text-decoration: none; }
.unavail a:hover .card-body { background: #dfdfdf; }

.error { color: red;
font-weight: bold; }

div.card-header.blue,
div.card-header.yellow,
div.card-header.red,
div.card-header.green {
  color: #fff;
}

div.card-header.blue {
  background-color: #7BC4C9;
}

div.card-header.yellow {
  background-color: #E3C564;
}

div.card-header.red {
  background-color: #F47C7A;
}

div.card-header.green {
  background-color: #A8C16D;
}
